[Unit]
Description=Igor API server
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
# Server req env where executable lives
Environment=IGOR_HOME=/home/igor
Type=simple
ExecStart=/opt/igor/igor-server
Restart=always
RestartSec=1
User=igor

[Install]
WantedBy=multi-user.target